
/*##############   INIT   ###################*/
* {
background: rgb(224, 243, 255);
font-family: 'Montserrat', sans-serif;}

main{
    margin-top: 60px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    flex :1;
}
body{
    margin: 0px;
    min-height: 102vh;
    display : flex;
    flex-direction: column;
}
figure{
    padding: 0px;
    margin: 0px;
}


/*##############   NAV   ###################*/
nav ul {
    background-color: black;
    margin:0px;
    margin-right: 50px;
    padding:0px;
    display: flex;
    list-style-type: None;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    max-width: 500px;
}
nav ul a{
    background-color: black;
    color: white;
    text-decoration: None;
    font-weight:900;
}

nav{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    height : 80px;
}

/*##############   ALERT BOX   ###################*/
.alert {
    position: absolute;
    top :80px;
    padding: 20px;
    background-color: #2b78a4;
    color: white;
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
}

.closebtn {
    margin-left: 15px;
    background-color: #2b78a4;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;

}

/*################   BUTTON   ###################*/
.main-btn{
    padding: 15px;
    border-radius: 8px;
    background-color: #2b78a4;
    text-decoration: None;
    color: aliceblue;
}


/*################   FOOTER   ###################*/
footer{
    min-height: 15%;
    border-top: solid #2b78a4;
}

.footercont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
}

.footercont p{
    max-width: 40%;
    text-align : center;
}

.footer-title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}
