{% extends 'appointment/base.html' %}

{% block title %}
<title> Book an appointment</title>
{% endblock  %}

{% block body %}
        {% comment %} <form action="{% url 'book-appointment' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="date">Date :</label>
                <input type="date" class="form-control" name="date">
            </div>
            <div class="form-group">
                <label for="appointment">Select a time:</label>
                <select name="appt-time">
                    <option value="9:00">9:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                </select>
                
            </div>
            <div class="form-group">
                <label>Add message (optional) :</label>
                <input type="text" class="form-control" name="more">
            </div>
        
            <input type="submit" value ='submit' class="btn btn-secondary">
        </form> {% endcomment %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value ='submit' class="btn btn-secondary">
        </form>

        {% endblock %}