{% load static %}

<html>
    <head>
        {% block title %} {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'appointment/styles.css' %}" >

    </head>

    <body>
        <nav> <!-- ##############################       NAV       ###########################-->
            <!--<figure class="logo"><img src="Ressources/logo.png" alt="Logo"></figure> -->
            <ul>
                {% if user.is_staff %}
                <li><a href='{% url 'planning' %}'>Planning</a></li>
                {% endif %}
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'register_user' %}">Register</a></li>
                {% endif %}
                
            </ul>
        </nav>
                           
            {% for message in messages %}
            <div class="alert"><!--#########################  ALERT BOX   #############################-->
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endfor %}
        
        <main><!--###############################   BODY   #####################################-->
        {% block body %} {% endblock %}
        </main>


        <footer><!-- #######################    FOOTER   #################################-->
            <h2>À propos du site :</h2>
            <p>Crée par Maxime Rowell en Fevrier 2023 dans le cadre de la formation Simplon Tech IA roubaix</p>
        <footer>

    </body>

</html>